 @import url('https://fonts.googleapis.com/css?family=Abhaya+Libre|Amaranth');

* {
  color: white;
}

html {
    height: 100%;
}

body {
    height: 100%;
    margin: 0;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

#background {
  background: #478dff;
  height: 100%;
  background: radial-gradient(circle, #478dff, #0061ff);
  background: -webkit-radial-gradient(circle, #478dff, #0061ff);
  background: -o-radial-gradient(circle, #478dff, #0061ff);
  background: -moz-radial-gradient(circle, #478dff, #0061ff);
}

#title {
  font-family: 'Amaranth', 'sans-serif';
}

#main {
  font-family: 'Abhaya Libre', 'sans-serif';
  font-size: 28px;
  box-shadow: inset 0px 0px 1000px 0px #212121;
  opacity: 0.9;
}

#change {
  color: black;
  font-size: 20px;
}

#credit {
  font-size: 16px;
  margin-top: 25px;
}