li {
	margin: 5px;
	padding: 10px;
	list-style-type: none;
	border: 3px solid black;
}

a:hover {
	text-decoration: none !important;
}

.pic {
	border-radius: 50%;
	height: 50px;
}

.online {
	background: lightgreen;
}

.offline {
	background: #ff6d6b;
	color: black;
}

.inactive {
	background: #efefef;
}