li {
	padding: 10px;
	list-style-type: none;
	border: 3px solid black;
}

a:hover {
	text-decoration: none !important;
}

ul {
	padding: 0;
}

li:hover {
	opacity: 0.75;
}

.pic {
	border-radius: 50%;
	height: 100px;
}

.online {
	background: lightgreen;
}

.offline {
	background: #ff6d6b;
	color: black;
}

.inactive {
	background: #efefef;
}