input[type=text] {
  width: 60%;
  transition: width 0.5s ease-in-out;
  -webkit-transition: width 0.5s ease-in-out;
}

input[type=text]:focus {
  width: 90%;
  background: #efefef;
}

/*::-webkit-input-placeholder {
	text-align:center; 
}
input:-moz-placeholder {
	text-align:center; 
}*/

li {
	list-style-type: none;
	background: lightblue;
	margin-top: 10px;
}