* {
	font-family: 'Work Sans', sans-serif;
}

input[type=text] {
	display: inline;
	width: 88%;
	border-radius: 0;
}

	input[type=text]:focus {
	  background: #efefef;
	}

a:hover {
	border-bottom: 3px solid #fcb28f;
	text-decoration: none !important;
}

ul {
	padding: 0;
}

.result {
	margin: 0;
	color: white;
	list-style-type: none;
	background: #3a96ff;
	border-left: 5px solid #fcb28f;
	margin-top: 10px;
	padding: 10px;
	transition: margin 0.5s;
	-webkit-transition: margin 0.5s;
}

	.result:hover {
	margin: 20px;
	transition: margin 0.5s;
	-webkit-transition: margin 0.5s;
	}

#find {
	color: white;
	background: #3a96ff;
}